<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PharmaX"
        tools:replace="android:fullBackupContent">

        <!-- Splash Screen - Launcher -->
        <activity
            android:name=".view.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.PharmaX">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Auth Screens -->
        <activity
            android:name=".view.SignInActivity"
            android:exported="true"
            android:theme="@style/Theme.PharmaX" />

        <activity
            android:name=".view.SignUpActivity"
            android:exported="true"
            android:theme="@style/Theme.PharmaX" />

        <activity
            android:name=".view.ForgotPasswordActivity"
            android:exported="true"
            android:theme="@style/Theme.PharmaX" />

        <!-- Main App -->
        <activity
            android:name=".view.DashboardActivity"
            android:exported="true"
            android:theme="@style/Theme.PharmaX" />

        <!-- User Screens -->
        <activity
            android:name=".view.BrowseAllMedicinesActivity"
            android:exported="true"
            android:theme="@style/Theme.PharmaX" />

        <activity
            android:name=".view.BrowseCategoriesActivity"
            android:exported="true"
            android:theme="@style/Theme.PharmaX" />

        <activity
            android:name=".view.MedicineListActivity"
            android:exported="true"
            android:theme="@style/Theme.PharmaX" />

        <activity
            android:name=".view.UserMedicineDetailActivity"
            android:exported="true"
            android:theme="@style/Theme.PharmaX" />

        <!-- Admin Screens -->
        <activity
            android:name=".view.AdminCategoryManagement"
            android:exported="true"
            android:theme="@style/Theme.PharmaX" />

        <activity
            android:name=".view.AddCategoryActivity"
            android:exported="true"
            android:theme="@style/Theme.PharmaX" />

        <!-- Admin Dashboard -->
        <activity
            android:name=".view.AdminDashboardActivity"
            android:exported="true"
            android:theme="@style/Theme.PharmaX" />

        <!-- Admin Medicine Screens -->
        <activity
            android:name=".view.AdminMedicineManagement"
            android:exported="true"
            android:theme="@style/Theme.PharmaX" />

        <activity
            android:name=".view.AddMedicineActivity"
            android:exported="true"
            android:theme="@style/Theme.PharmaX" />

        <activity
            android:name=".view.AdminMedicineDetailActivity"
            android:exported="true"
            android:theme="@style/Theme.PharmaX" />

    </application>

</manifest>
